<h2>Post comment for {{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="submit()">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" size="30" formControlName="userName">
                <div *ngIf="isControlInvalid('userName')">
                    Please enter at least a 3 character name.
                </div>
            </td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td>
                <input type="number" size="30" formControlName="rating">
                <div *ngIf="isControlInvalid('rating')">
                    Please enter a rating between 1 to 5.
                </div>
            </td>
        </tr>
        <tr>
            <td>Rating:</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea formControlName="commentText"></textarea>
                <div *ngIf="isControlInvalid('commentText')">
                    Please kindly leave a comment.
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" (click)="back()">Back</button>
            </td>
            <td>
                <button type="submit" [disabled]="form.invalid">Post</button>
            </td>
        </tr>
    </table>
</form>